{% extends 'sparshkalp/base.html' %}
{% block body_block %}
{% load static %}
<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
        <form method="post">
          {% csrf_token %}
          <span class="login100-form-title p-b-55">
            Doctor's Id
          </span>

          <div class="wrap-input100 validate-input m-b-16">
            <input class="input100" type="text" type="text"name="doctorId" placeholder="Doctor's Id">
            <span class="focus-input100"></span>
            <!-- <span class="symbol-input100">
              <span class="lnr lnr-envelope"></span>
            </span> -->
          </div>

          <div class="container-login100-form-btn p-t-25">
            <button class="login100-form-btn">
              Give Access
            </button>
          </div>


        </form>
        <form method="GET" action ="{% url 'upload' %}" >
        <div class="container-login100-form-btn p-t-25">
          <button method="submit" class="login100-form-btn" value="Submit">
            Upload Documents
          </button>
        </div>
        </form>
        <div class="text-center w-full p-t-115">
          <span class="txt1">
            Not a member?
          </span>

          <a class="txt1 bo1 hov1" href="{% url 'register' %}">
            Sign up now
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
